@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010413;
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}

/* ANTI LINK BIRU */
a, a:active, a:hover, a:visited {
  color: inherit !important;
  text-decoration: none !important;
}

/* Container Mobile */
main {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Salju */
.snowflake {
  position: fixed;
  top: -10px;
  z-index: 0;
  color: white;
  opacity: 0.1;
  pointer-events: none;
  animation: fall 15s linear infinite;
}
@keyframes fall { to { transform: translateY(100vh); } }
