@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010413;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

/* RESET WARNA BIRU LINK */
a, a:active, a:hover, a:visited {
  color: inherit !important;
  text-decoration: none !important;
}

/* Scrollbar Sembunyi */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Salju Background (Z-index 0) */
.snowflake {
  position: fixed;
  top: -10px;
  z-index: 0;
  color: white;
  opacity: 0.2;
  pointer-events: none;
  animation: fall 12s linear infinite;
}

@keyframes fall {
  to { transform: translateY(100vh) rotate(360deg); }
}
